<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">

    {% block title %}<title>Эльбрус</title>{% endblock %}
</head>
<body>
    {% block content %}
    <nav class="navigation">
        <ul>
            <li><a href="/mountain">ЭВЕРЕСТ</a></li>
            <li><a href="/mountain1">ГИМАЛАИ</a></li>
            <li><a href="#facts">Интересные факты</a></li>
            <li><a href="#contacts">Контакты</a></li>
        </ul>
    </nav>

    <div class="header-image">
        <img src="https://avatars.mds.yandex.net/get-ydo/6058772/2a00000187803e685b641ebd6ccbd70ec577/diploma" alt="Эльбрус">
        <div class="content">
            <h1 class="title">ЭЛЬБРУС</h1>
            <p class="sub-title">Красота и величие</p>
        </div>
    </div>
    
    <div class="additional-text">
        <p>Эльбрус — высочайшая гора России, расположенная на границе республик Кабардино-Балкария и Карачаево-Черкесия. Характерные двуглавые вершины горы, покрытые снегами — визитная карточка Северного Кавказа. Эльбрус также является самым высоким пиком Европы.</p>
        <p>Высота восточной вершины горы — 5621 метр, западной — 5642 метра, между ними лежит седловина, уступающая вершинам по высоте 300 метров.</p>
        <p>Белый покров Эльбруса состоит из более 80 ледников, крупнейшие из них — Терскол, Большой Азау и Ирик. Ледники начинаются с высоты 3500 метров, их площадь — 145 км². Огромные ледяные массы дают начало рекам Кубани, Малке, Баксану и притокам Терека.</p>
        <p>Эльбрус сформировался более миллиона лет назад, раньше он был действующим вулканом, и до сих пор не утихают споры, потух он или просто спит. В пользу версии о спящем вулкане говорит тот факт, что горячие массы сохраняются в его глубинах и подогревают термальные источники до +60 °C.</p>
        <p>Климат Приэльбрусья мягкий, влажность невысокая, благодаря чему морозы переносятся легко. А вот климат самого вулкана суровый, схожий с арктическим. Средняя зимняя температура — от 10 градусов мороза у подножия горы, до –25 °C на уровне 2000–3000 метров, и до –40 °C на вершине.</p>
        <p>Эльбрус считается самой лыжной горой в мире. Наслаждаться зимними видами спорта в Приэльбрусье можно с ноября по май, а некоторые трассы доступны круглогодично.</p>
    </div>

    <div id="facts" class="interesting-facts">
        <h2>Интересные факты</h2>
        <ul>
            <li>Эльбрус — это самый высокий вулкан в Европе.</li>
            <li>Ледники Эльбруса образуют уникальные природные ландшафты.</li>
            <li>На Эльбрусе расположены одни из самых высоких горнолыжных курортов мира.</li>
            <li>Гора считается священной для местных народов.</li>
        </ul>
    </div>
    {% endblock %}
    <div id="contacts" class="contacts">
        <h2>Контакты</h2>
        <p>Если у вас есть вопросы, вы можете связаться с нами по электронной почте: <a href="mailto:info@example.com">info@example.com</a></p>
        <p>Телефон: +7 (123) 456-78-90</p>
    </div>
</body>
</html>
