{% extends 'index.html' %}
{% block title %}<title>Гималаи</title>{% endblock %}
{% block content %}
<style>
    body {
        background-color: rgb(9, 68, 84); /* Устанавливаем синий цвет фона */
    }
</style>
<nav class="navigation">
    <ul>
        <li><a href="/">ЭЛЬБРУС</a></li>
        <li><a href="/mountain">ЭВЕРЕСТ</a></li>
        <li><a href="#facts">Интересные факты</a></li>
        <li><a href="#contacts">Контакты</a></li>
    </ul>
</nav>

<div class="header-image">
    <img src="https://i.pinimg.com/originals/21/68/7b/21687b50d3dca56c7567199c5cf666ad.jpg" alt="Гималаи">
    <div class="content">
        <h1 class="title">ГИМАЛАИ</h1>
        <p class="sub-title">Величественные горы мира</p>
    </div>
</div>

<div class="additional-text">
    <p>
        Гималаи — это одна из самых известных и величественных горных систем мира, простирающаяся через пять стран: Индию, Непал, Тибет (Китай), Бутан и Пакистан. Эта горная цепь включает в себя множество высоких вершин, среди которых выделяется Эверест (Джомолунгма) — самая высокая точка на Земле с высотой 8848 метров.
    </p>
    
    <p>
        Гималаи известны не только своими внушительными высотами, но и уникальной экосистемой, разнообразием флоры и фауны, а также культурным наследием. Здесь находятся священные реки, древние храмы и уникальные народы, которые живут в гармонии с природой.
    </p>
    
    <p>
        Восхождение на Эверест и другие вершины Гималаев — это не только физическое испытание, но и возможность прикоснуться к культуре и традициям местных народов. Путешествие по Гималаям требует хорошей физической подготовки, терпения и уважения к окружающей среде.
    </p>
    
    <p>
        Каждый год тысячи альпинистов и туристов посещают Гималаи, чтобы насладиться их красотой и испытать себя в условиях высокогорья. Несмотря на все трудности, Гималаи продолжают привлекать внимание и вдохновлять людей со всего мира.
    </p>
</div>


<div id="facts" class="interesting-facts">
    <h2>Интересные факты о Гималаях</h2>
    <ul>
        <li>Гималаи простираются на более чем 2400 километров и являются домом для более 100 вершин высотой более 7000 метров.</li>
        <li>Слово "Гималаи" переводится как "дом снега" на санскрите.</li>
        <li>Гималаи являются источником многих крупных рек, включая Ганг, Инд и Брахмапутру.</li>
        <li>Горы были образованы в результате столкновения индийской и евразийской тектонических плит около 50 миллионов лет назад.</li>
        <li>В Гималаях обитает множество редких видов животных, включая снежного барса и красного медведя.</li>
        <li>Здесь расположены священные места для буддистов и индуистов, включая Лхасу и Кайлас.</li>
        <li>Гималаи привлекают не только альпинистов, но и туристов, желающих насладиться треккингом и уникальными природными пейзажами.</li>
    </ul>
</div>

{% endblock %}
