{% extends 'index.html' %}
    {% block title %}<title>Эльбрус</title>{% endblock %}
    {% block content %}
    <style>
        body {
            background-color: rgb(34, 34, 94); /* Устанавливаем синий цвет фона */
        }
    </style>
    <nav class="navigation">
        <ul>
            <li><a href="/">ЭЛЬБРУС</a></li>
            <li><a href="/mountain1">ГИМАЛАИ</a></li>
            <li><a href="#facts">Интересные факты</a></li>
            <li><a href="#contacts">Контакты</a></li>
        </ul>
    </nav>

    <div class="header-image">
        <img src="https://www.altitudehimalaya.com/media/files/Multiday-tours/everest-flight.jpg" alt="Эверест">
        <div class="content">
            <h1 class="title">ЭВЕРЕСТ</h1>
            <p class="sub-title">Джомолунгма</p>
        </div>
    </div>
    
    <div class="additional-text">
        <p>
            Эверест (Джомолунгма) — самая высокая вершина планеты, относящаяся к горной системе Гималаев. Она находится на границе Непала и китайского Тибета. 
            Высота Джомолунгмы составляет 8848 метров. По строению гора напоминает слоёный пирог: в основе которого гнейс и гранит, а сверху известняковые породы и сланец. Внешне Эверест имеет форму неправильной пирамиды: южный склон, находящийся со стороны Непала, более крутой, чем остальные. Скопления снега, сползающие со склонов, образовали около 600 ледников.
        </p>
        
        <p>
            Гору Эверест неофициально называют третьим полюсом Земли из-за суровой погоды. Температура здесь всегда низкая: на вершине даже в самый тёплый месяц (июль) столбик термометра редко поднимается выше –19 °C. Минимальные показатели фиксируют в январе, когда средняя температура составляет –36 °C, и это не предел. В течение дня могут наблюдаться резкие перепады вплоть до –60 °C. Ситуацию усугубляют сильные ветра, которые могут достигать скорости 160 км/ч.
        </p>
        
        <p>
            Восхождение на Эверест — невероятное приключение, испытание собственных сил. Вот только постоянно изменяющиеся погодные условия, пониженное атмосферное давление и нехватка кислорода, приводящая к горной болезни, создают большой риск для жизни даже подготовленного спортсмена. Каждый год сотни альпинистов пытаются покорить эту вершину, но не все из них достигают успеха. Многочисленные трагедии и случаи потерь заставляют многих пересмотреть свои планы.
        </p>
        
        <p>
            История восхождения на Эверест началась в 1924 году, когда британские альпинисты Джордж Мэллори и Эндрю Ирвин предприняли попытку достичь вершины. Хотя они не вернулись с восхождения, их усилия вдохновили многих последователей. В 1953 году сэр Эдмунд Хиллари и шерпа Тенцинг Норгай стали первыми, кто официально достиг вершины, открыв новую эру в альпинизме.
        </p>
        
        <p>
            С каждым годом количество альпинистов, стремящихся покорить Эверест, увеличивается, что вызывает опасения по поводу экологии региона. Сложности, связанные с мусором, оставленным на горе, становятся все более очевидными. Местные власти и организации работают над тем, чтобы минимизировать воздействие на окружающую среду и сохранить уникальную экосистему этого района.
        </p>
        
        <p>
            Несмотря на все трудности, Эверест продолжает привлекать внимание альпинистов со всего мира. Для многих это не просто физическое испытание, но и возможность проверить свои пределы, испытать себя в условиях, которые требуют максимальной концентрации и силы духа. Каждый, кто поднимается на эту величественную гору, уносит с собой не только воспоминания о достижении, но и глубокое уважение к природе и её мощи.
        </p>
        
    </div>

    <div id="facts" class="interesting-facts">
        <h2>Интересные факты о Эвересте</h2>
        <ul>
            <li>Эверест продолжает расти на 4 миллиметра в год из-за тектонических движений.</li>
            <li>На высоте 8000 метров начинается "зона смерти", где уровень кислорода настолько низок, что человек не может выжить без кислородной маски.</li>
            <li>Гора Эверест известна своим "смертельным коридором" — участком, где альпинисты сталкиваются с сильными ветрами и лавинами.</li>
            <li>На Эвересте находятся тела более 200 альпинистов, которые не смогли спуститься после неудачных восхождений, и многие из них остаются там навсегда.</li>
            <li>Эверест считается одним из самых опасных мест для альпинизма, с уровнем смертности около 1% для тех, кто достигает вершины.</li>
            <li>Гора имеет два официальных названия: Эверест (на английском) и Джомолунгма (на непальском), что означает "Мать всех богов".</li>
            <li>В 2010 году на Эвересте была установлена первая в мире метеорологическая станция на высоте более 8000 метров.</li>
        </ul>
    </div>

    {% endblock %}

